<%= form_with url: "/home/#{params['id']}/edit", method: :get do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%  @student.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
